.EmptyStateContainer {
  background-image: linear-gradient(rgba(0, 128, 0, 0.219), #fa4e705e);
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.emptyHeading {
  margin-bottom: 50px;
}

.instructionHeading {
  text-align: center;
  font-weight: 300;
  margin-top: 50px;
}

.instructionPlusIcon {
  height: 25px;
  color: white;
}

.instructionBoldText {
  font-weight: bold;
}
