.Column {
  display: flex;
  flex-basis: 100%;
  padding: 0 5px;
  background: black;
}

.prosConsWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  color: white;
}

.columnHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listLabelHeading {
  cursor: pointer;
}

.listDelBtn {
  cursor: pointer;
  border: 1px solid #fff;
  outline: black;
  border-radius: 10px;
  color: #fff;
  opacity: 0.4;
  font-size: 0.8rem;
  background: none;
  transition: opacity 0.2s ease-in;
}

.listDelBtn:hover {
  opacity: 0.8;
}

.pencilIcon {
  margin-left: 10px;
  font-size: 1rem;
}

.prosContainer {
  flex-basis: 100%;
  /* background-color: #62bd82; */
  background-color: #62bd825b;
  border-radius: 5px;
}

.proconsHeading {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.2;
}

.addListItem {
  list-style-type: none;
}

.addListItemBtn {
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.8em;
  letter-spacing: 1.5;
  color: white;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  outline: black;
}

.consContainer {
  flex-basis: 100%;
  /* background-color: #fa4e71; */
  background-color: #fa4e705e;
  border-radius: 5px;
}

.divider {
  height: 20px;
}
