.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  height: 40px;
}

.addButton {
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.plusIcon {
  font-size: 1.5rem;
}

.labelInput {
  border-radius: 2px;
  margin-right: 10px;
  height: 20px;
  width: 150px;
  border: none;
  transform: translateX(20vw);
  transition: transform 0.2s ease-in;
}

.inputAppear {
  transform: translateX(0);
}
