.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.addButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.plusIcon {
  font-size: 1.5rem;
}
