.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 40px;
}

.headerLogo {
  cursor: pointer;
  margin-left: 10px;
  height: 30px;
  opacity: 0.7;
  transition: opacity 0.2s ease-in;
}

.headerLogo:hover {
  opacity: 1;
}

.addButton {
  margin-right: 10px;
  outline: black;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(45deg);
}

.plusIcon {
  font-size: 1.5rem;
}

.labelInput {
  border-radius: 2px;
  margin-right: 10px;
  height: 20px;
  width: 150px;
  border: none;
  transform: translateY(-50px);
  transition: transform 0.2s ease-in;
}

.inputAppear {
  transform: translateY(0);
}

@media only screen and (max-width: 768px) {
  .addButton {
    display: none;
  }

  .labelInput {
    display: none;
  }
}
